* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #06281e;
    position: relative;
}

#letHimChoose-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#letHimChoose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: 600px;
    height: 210px;
    border-radius: 40px;
    background-color: #d2f4ea;
    text-align: center;
    z-index: 1;
}

#letHimChoose h1 {
    margin-top: 20px;
}

#letHimChoose h2 {
    margin-top: 20px;
}

.chooseBtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(31, 46, 46);
    width: 120px;
    height: 50px;
    margin: 20px 10px;
    font-size: 33px;
    border-radius: 10px;
    background-color: #d2f4ea;
}

.chooseBtn:hover {
    background-color: rgb(31, 46, 46);
    color: aliceblue;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    width: 90%;
    max-width: 450px;
    height: 450px;
}

.grid-item {
    box-sizing: content-box;
    height: 150px;
    color: #fff;
    font-size: 60px;
    background-color: #13795b;
    border: 2px solid rgb(31, 46, 46);
    border-top: none;
    border-right: none;
}

.grid-item:hover {
    background-color: #1aa179;
    color: #373737;
}

.i7,
.i8,
.i9 {
    border-bottom: none;
}

.i1,
.i4,
.i7 {
    border-left: none;
}

#winSpan {
    font-size: 25px;
    color: #d2f4ea;
    margin-top: 20px;
}